n8n-hevy-to-sheets.json
{
  "name": "Hevy → Google Sheets",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "hevy-workout",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Hevy Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "hevy-workout"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond",
      "name": "Respond 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 180]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.hevyapp.com/v1/workouts/{{ $json.body.workoutId }}",
        "options": {
          "headers": {
            "parameters": [
              {
                "name": "api-key",
                "value": "a8bce71b-85bd-420b-99b0-1f312735d74a"
              }
            ]
          }
        }
      },
      "id": "fetch-workout",
      "name": "Fetch Workout",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 420]
    },
    {
      "parameters": {
        "jsCode": "const rows = [];\n\nfor (const item of $input.all()) {\nconst workout = item.json.data ?? item.json;\n\nconst durationMinutes = Math.round(\n  (new Date(workout.end_time) - new Date(workout.start_time)) / 60000\n);\n\nfor (const exercise of workout.exercises) {\n  for (const set of exercise.sets) {\n    const weightKg = set.weight_kg ?? null;\n    const weightLb = weightKg !== null\n      ? Math.round(weightKg * 2.20462 * 100) / 100\n      : null;\n\n    rows.push({\n      workout_id: workout.id,\n      workout_title: workout.title,\n      workout_description: workout.description ?? '',\n      routine_id: workout.routine_id ?? '',\n      start_time: workout.start_time,\n      end_time: workout.end_time,\n      duration_minutes: durationMinutes,\n      exercise_index: exercise.index,\n      exercise_title: exercise.title,\n      exercise_template_id: exercise.exercise_template_id,\n      superset_id: exercise.superset_id ?? '',\n      exercise_notes: exercise.notes ?? '',\n      set_index: set.index,\n      set_type: set.type,\n      weight_kg: weightKg ?? '',\n      weight_lb: weightLb ?? '',\n      reps: set.reps ?? '',\n      distance_meters: set.distance_meters ?? '',\n      duration_seconds: set.duration_seconds ?? '',\n      rpe: set.rpe ?? '',\n      custom_metric: set.custom_metric ?? ''\n    });\n  }\n}\n}\n\nreturn rows.map(row => ({ json: row }));\n"
      },
      "id": "flatten",
      "name": "Flatten to Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 420]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1SbBE6LbSUo1T9YXNHruYWXkeHiouxKTpMvWJGj2YPRs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Workouts",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workout_id": "={{ $json.workout_id }}",
            "workout_title": "={{ $json.workout_title }}",
            "workout_description": "={{ $json.workout_description }}",
            "routine_id": "={{ $json.routine_id }}",
            "start_time": "={{ $json.start_time }}",
            "end_time": "={{ $json.end_time }}",
            "duration_minutes": "={{ $json.duration_minutes }}",
            "exercise_index": "={{ $json.exercise_index }}",
            "exercise_title": "={{ $json.exercise_title }}",
            "exercise_template_id": "={{ $json.exercise_template_id }}",
            "superset_id": "={{ $json.superset_id }}",
            "exercise_notes": "={{ $json.exercise_notes }}",
            "set_index": "={{ $json.set_index }}",
            "set_type": "={{ $json.set_type }}",
            "weight_kg": "={{ $json.weight_kg }}",
            "weight_lb": "={{ $json.weight_lb }}",
            "reps": "={{ $json.reps }}",
            "distance_meters": "={{ $json.distance_meters }}",
            "duration_seconds": "={{ $json.duration_seconds }}",
            "rpe": "={{ $json.rpe }}",
            "custom_metric": "={{ $json.custom_metric }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "append-sheet",
      "name": "Append to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Hevy Webhook": {
      "main": [
        [
          { "node": "Respond 200", "type": "main", "index": 0 },
          { "node": "Fetch Workout", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fetch Workout": {
      "main": [
        [{ "node": "Flatten to Rows", "type": "main", "index": 0 }]
      ]
    },
    "Flatten to Rows": {
      "main": [
        [{ "node": "Append to Google Sheet", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
