n8n-hevy-backfill.json
{
  "name": "Hevy Backfill → Google Sheets",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "1SbBE6LbSUo1T9YXNHruYWXkeHiouxKTpMvWJGj2YPRs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Workouts",
          "mode": "name"
        },
        "options": {}
      },
      "id": "clear-sheet",
      "name": "Clear Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [340, 300]
    },
    {
      "parameters": {
        "jsCode": "// Generate page numbers 1–6 (55 workouts / 10 per page)\nconst totalPages = 6;\nconst pages = [];\nfor (let i = 1; i <= totalPages; i++) {\n  pages.push({ json: { page: i } });\n}\nreturn pages;\n"
      },
      "id": "pages",
      "name": "Generate Pages",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.hevyapp.com/v1/workouts?page={{ $json.page }}&pageSize=10",
        "options": {
          "headers": {
            "parameters": [
              {
                "name": "api-key",
                "value": "a8bce71b-85bd-420b-99b0-1f312735d74a"
              }
            ]
          }
        }
      },
      "id": "fetch-page",
      "name": "Fetch Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const rows = [];\n\nfor (const item of $input.all()) {\n  const workouts = item.json.workouts ?? [];\n\n  for (const workout of workouts) {\n    const durationMinutes = Math.round(\n      (new Date(workout.end_time) - new Date(workout.start_time)) / 60000\n    );\n\n    for (const exercise of workout.exercises) {\n      for (const set of exercise.sets) {\n        const weightKg = set.weight_kg ?? null;\n        const weightLb = weightKg !== null\n          ? Math.round(weightKg * 2.20462 * 100) / 100\n          : null;\n\n        rows.push({\n          workout_id: workout.id,\n          workout_title: workout.title,\n          workout_description: workout.description ?? '',\n          routine_id: workout.routine_id ?? '',\n          start_time: workout.start_time,\n          end_time: workout.end_time,\n          duration_minutes: durationMinutes,\n          exercise_index: exercise.index,\n          exercise_title: exercise.title,\n          exercise_template_id: exercise.exercise_template_id,\n          superset_id: exercise.superset_id ?? '',\n          exercise_notes: exercise.notes ?? '',\n          set_index: set.index,\n          set_type: set.type,\n          weight_kg: weightKg ?? '',\n          weight_lb: weightLb ?? '',\n          reps: set.reps ?? '',\n          distance_meters: set.distance_meters ?? '',\n          duration_seconds: set.duration_seconds ?? '',\n          rpe: set.rpe ?? '',\n          custom_metric: set.custom_metric ?? ''\n        });\n      }\n    }\n  }\n}\n\nreturn rows.reverse().map(row => ({ json: row }));\n"
      },
      "id": "flatten",
      "name": "Flatten to Rows",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1SbBE6LbSUo1T9YXNHruYWXkeHiouxKTpMvWJGj2YPRs",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Workouts",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workout_id": "={{ $json.workout_id }}",
            "workout_title": "={{ $json.workout_title }}",
            "workout_description": "={{ $json.workout_description }}",
            "routine_id": "={{ $json.routine_id }}",
            "start_time": "={{ $json.start_time }}",
            "end_time": "={{ $json.end_time }}",
            "duration_minutes": "={{ $json.duration_minutes }}",
            "exercise_index": "={{ $json.exercise_index }}",
            "exercise_title": "={{ $json.exercise_title }}",
            "exercise_template_id": "={{ $json.exercise_template_id }}",
            "superset_id": "={{ $json.superset_id }}",
            "exercise_notes": "={{ $json.exercise_notes }}",
            "set_index": "={{ $json.set_index }}",
            "set_type": "={{ $json.set_type }}",
            "weight_kg": "={{ $json.weight_kg }}",
            "weight_lb": "={{ $json.weight_lb }}",
            "reps": "={{ $json.reps }}",
            "distance_meters": "={{ $json.distance_meters }}",
            "duration_seconds": "={{ $json.duration_seconds }}",
            "rpe": "={{ $json.rpe }}",
            "custom_metric": "={{ $json.custom_metric }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "append-sheet",
      "name": "Append to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [{ "node": "Clear Sheet", "type": "main", "index": 0 }]
      ]
    },
    "Clear Sheet": {
      "main": [
        [{ "node": "Generate Pages", "type": "main", "index": 0 }]
      ]
    },
    "Generate Pages": {
      "main": [
        [{ "node": "Fetch Page", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Page": {
      "main": [
        [{ "node": "Flatten to Rows", "type": "main", "index": 0 }]
      ]
    },
    "Flatten to Rows": {
      "main": [
        [{ "node": "Append to Google Sheet", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
